<ion-header>
  <ion-toolbar>
    <ion-title>Sports</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of sport">
    <ion-card-header>
      <ion-card-title>{{data.type}}</ion-card-title>
      <ion-card-subtitle>{{data.location}}, {{data.time}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{data.description}}</p>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="function()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
