<ion-header>
  <ion-toolbar>
    <ion-title>Reports</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of news">
    <ion-card-header>
      <ion-card-title>{{data.type}}</ion-card-title>
      <ion-card-subtitle>{{data.location}}, <b>{{data.time}}</b></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{data.description}}</p>
      <ion-slides pager="false" [options]="images">
        <ion-slide *ngFor="let item of images">
          <ion-img [src]="item.image"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-button>
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="share-alt"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNews()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
