<ion-header>
  <ion-toolbar>
    <ion-title>festivals</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let data of festival">
    <app-display-event-feeds [feeds]="data" [images]="images"></app-display-event-feeds>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addFestival()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-card (click)="PlayVideo()">
    <ion-card-header>
      <ion-card-subtitle>Hooker bash</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card> -->
</ion-content>
